@import "tailwindcss";

:root{
    font-family: "roboto",sans-serif;
  font-optical-sizing: auto;

  font-style: normal;

  
}

h1, h2, h3, h4, h5, h6 {
 font-family: var(--font-poppins), sans-serif; /* Example: Roboto for headings */
}

.font-poppins {
  font-family: var(--font-poppins), marcellus;
}

.font-roboto {
  font-family: var(--font-roboto), sans-serif;
}

.font-oswald {
  font-family: var(--font-oswald), sans-serif;
}



/* globals.css */
ul {
  list-style-type: disc;
  padding-left: 1.5rem; /* space for bullets */
}

ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}


@keyframes floatY {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-35px);
  }
  100% {
    transform: translateY(0px);
  }
}

.float-animation {
  animation: floatY 4s ease-in-out infinite;
}